LP1-ANN/ExamPrep/Bok ANN.pdf
LP1-Stoc/Bok Stok.pdf

LP2-DynS/Bok DynSys.pdf
LP2-DynS/Wolfram problemset/
LP2-DynS/Lectures/
LP2-DynS/OldExams/
LP2-DynS/HS3/Task 3.3/.idea/
LP2-DynS/HS3/Task 3.3/__pycache__/
LP2-DynS/HS3/Task 3.3/venv/

LP2-SoCS/Bok SoCS.pdf
LP2 SoCS/HW1 - ForestFires/Figures/

LP3-CompBio/Bok CompBio.pdf