# ANN
LP1-ANN/ExamPrep/Bok ANN.pdf

# Stoc
LP1-Stoc/Bok Stok.pdf

# DynS
LP2-DynS/Bok DynSys.pdf
LP2-DynS/Wolfram problemset/
LP2-DynS/Lectures/
LP2-DynS/OldExams/

# SoCS
LP2-SoCS/Bok SoCS.pdf
LP2 SoCS/HW1 - ForestFires/Figures/

# CompBio
LP3-CompBio/Bok CompBio.pdf
LP3-CompBio/Lectures/

# Machinelearning
LP4-MachineLearning/TIF360-project


# Python
venv/
__pycache__/
.idea/
.vscode/
myenv/
